<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSDL_QLBH.Properties.Settings.QLBHConnectionString"
            connectionString="Data Source=PTTHANHHANG\SQLEXPRESS;Initial Catalog=QLBH;Persist Security Info=True;User ID=PTTHANHHANG"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>